.navbar{
    height: 100%;
    width: 949px;
}
.row{
    width: 100%;
}

.name{
    font-size: 12px;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
