<div class = "jumbotron-fluid bg-secondary">
    <h3 class = "text-center text-white"> Finite State Automata </h3>
</div>
<div class="row">
    <div class="col-3">
      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-edit-list" data-toggle="list" href="#list-edit" role="tab" aria-controls="edit">Edit</a>
        <a class="list-group-item list-group-item-action" id="list-info-list" data-toggle="list" href="#list-info" role="tab"  aria-controls="info">Info</a>
        <a class="list-group-item list-group-item-action" id="list-determinism-list" data-toggle="list" href="#list-determinism" role="tab" aria-controls="determinism">Determinism</a>
        <a class="list-group-item list-group-item-action" id="list-simulate-list" data-toggle="list" href="#list-simulate" role="tab" aria-controls="simulate">Simulate</a>
        <a class="list-group-item list-group-item-action" id="list-examples-list" data-toggle="list" href="#list-examples" role="tab" aria-controls="examples">Examples</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent"> 
        <div class="tab-pane fade active" id="list-edit" role="tabpanel" aria-labelledby="list-edit-list">Edit Automata</div>
        <div class="tab-pane fade" id="list-info" role="tabpanel" aria-labelledby="list-info-list">Automata Information</div>
        <div class="tab-pane fade" id="list-determinism" role="tabpanel" aria-labelledby="list-determinism-list">Convert Non-Deterministic to Deterministic</div>
        <div class="tab-pane fade" id="list-simulate" role="tabpanel" aria-labelledby="list-simulate-list">Simulate Automata</div>
        <div class="tab-pane fade" id="list-examples" role="tabpanel" aria-labelledby="list-examples-list">Example FSMs</div>
      </div>
    </div>
  </div>


  
