<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand"> <font color="white">Automata Simulator</font></a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="fsm">FSM</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="pushdown">Pushdown</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="turing">Turing Machine</a></li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
