<div class = "row justify-content-end">
  <div class = "col">
    <div class = "row canvas bg-info"><p>canvas <br> Mode: {{_mode}} <br> Zoom: {{zoom}}</p></div>
    <div class = "row ctrlbar bg-light"><app-ctrlbar [(mode)] = 'mode' (zoom) = "onZoom($event)"></app-ctrlbar></div>
    <div class = "row bottom bg-secondary"></div>
  </div>
  <div class = "col-3 hidden-md-down bg-secondary text-white">
    <div class = "jumbotron panel bg-dark">
        <div *ngIf="selected === null"><h4>Select a state or transition.</h4></div>
        <div *ngIf= "isState()">is state, allow user to set start and final states and change state names</div>
        <div *ngIf= "isTrans()">is transition, allow user to set the transition character(s)</div>
    </div>
  </div>
</div>
